alias v='NVIM_APPNAME=nelsooon/dotfiles-public/.config/nvim nvim'
alias vi="NVIM_APPNAME=nelsooon/dotfiles-public/.config/nvim nvim"
alias vim='NVIM_APPNAME=nelsooon/dotfiles-public/.config/nvim nvim'
alias nvim='NVIM_APPNAME=nelsooon/dotfiles-public/.config/nvim nvim' 
alias enyxus="cd ~/Projects/enyxus-client/"
alias Pj="cd ~/Projects/"
alias enx="enyxus && yarn enyxus-dev"
alias ..="cd .."
alias ...="cd ../.."
alias t="tmux"
alias tn="tmux new -s"
alias ta="tmux attach -t"
alias tk="tmux kill-session -t"
alias tl="tmux ls"
alias z="zellij"
alias zl="zellij ls"
alias za="zellij attach"
alias zn="zellij -s"
alias zk="zellij d --force"
alias zd="zellij kill-session"
alias zcp="zellij action close-pane"
alias ls="eza -a --git -h -l"
alias lsg="eza -a --git -h -l --no-user --no-permissions --no-time -G"
alias lst="eza -TL 2"
alias find="fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs -r nvim"
alias blame-line="git blame -w -C -C -C -L"
alias blame-file="git blame -w -C -C -C"
alias air="~/go/bin/air"
alias web-ui="docker run -d -p 3001:8080 --add-host=host.docker.internal:host-gateway -v open-webui:/app/backend/data --name open-webui --restart always ghcr.io/open-webui/open-webui:main"
